<!DOCTYPE html>
<html>

<head>
  <title>A JS calculator</title>
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script defer src="../javascripts/index.js"></script>
</head>

<body>

  <h2>Why not do some math?</h2>

  <div id="calculator-container">

    <div id="screen">

    </div>

    <div id="operator-buttons">
      <div id="sum">+</div>
      <div id="substract">-</div>
      <div id="multiply">x</div>
      <div id="divide">÷</div>
    </div>

    <div id="numbers-others">
      <div id="numbers">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>0</div>
        <div>.</div>
        <div id="clear">C</div>
      </div>
    </div>
    <div id="other-buttons">
      <div>=</div>
    </div>

  </div>


  <footer>
    <p>© Made by <span id="name">Martin Zazpe</span></p>
  </footer>

</body>

</html>